.mm-button-game {
    justify-content: center;
    flex-grow: 1;
}

.mm-button-game > #GameName {
    -unity-font-style: bold;
    font-size: 40px;
    -unity-text-align: middle-left;
}

.mm-button-game > #GameVersion {
    font-size: 25px;
    -unity-text-align: middle-left;
}
